<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
        <hibernate-configuration>
        <session-factory>
        <property name = "hibernate.connection.username">postgres</property>
        <property name = "hibernate.connection.password">postgres!23</property>
        <property name = "hibernate.connection.url">jdbc:postgresql://jasdhir-rds.cvtq9j4axrge.us-east-1.rds.amazonaws.com/ERS01</property>
        <property name = "hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name = "hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name = "hibernate.default_schema">public</property>
        <property name = "hibernate.show_sql">true</property>
        <property name = "hibernate.format_sql">true</property>
        <property name = "hibernate.hbm2ddl.auto">update</property>
        <mapping class = "com.jasdhir.ers.model.ErsUser"/>
         <mapping class = "com.jasdhir.ers.model.ErsReim"/>
       
        </session-factory>
        </hibernate-configuration>